{% extends "base.html" %}

{% block main %}

    {% if request.user.is_authenticated %}
        <a href="{% url 'app:map' %}">TRACK</a>
    {% else %}
        <form method="post" action="">
            <p>
                <label for="username">Username:</label>
                <input id="username" type="text" name="username"/>
            </p>

            <p>
                <label for="password">Password:</label>
                <input id="password" name="password" type="password"/>
            </p>
            {% csrf_token %}
            <input type="submit" value="Log In"/>
        </form>
    {% endif %}

{% endblock %}