{% extends "base.html" %}

{% block main %}
    <div id="content">
        {% if request.user.is_authenticated %}
            <a href="{% url 'app:map' %}">TRACK</a>
        {% else %}
            <form method="post" action="">

                <div class="mid pad">
                    <label class="label" for="username">Username</label>
                    <input class="field" id="username" type="text" name="username"/>
                </div>

                <div class="mid holo-bright">
                </div>

                <div class="mid pad">
                    <label class="label" for="password">Password</label>
                    <input class="field" id="password" name="password" type="password"/>
                </div>

                <div class="mid holo-light">
                </div>

                <div class="mid">
                    <input class="pad button holo-dark" type="submit" value="Log In"/>
                </div>
                {% csrf_token %}
            </form>
        {% endif %}
    </div>

{% endblock %}